<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Web Stats</title>
</head>
<body>
    <div ng-controller="appCtrl">
        <p>Registered Users: <span ng-bind="userCount"></span></p>
        <p>New Visitors: <span ng-bind="anonymousCount"></span></p>
        <p>Errors: <span ng-bind="errCount"></span></p>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>