<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Web Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/nvd3/build/nv.d3.min.css') }}">
    <script src="{{ url_for('static', filename='components/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/nvd3/build/nv.d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/angular-nvd3/dist/angular-nvd3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/app_service.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/subscriber_service.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard/success_trend_line/controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard/success_trend_line/directive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard/status_codes/controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard/status_codes/directive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard/visits/controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard/visits/directive.js') }}"></script>

</head>
<script type="text/javascript">
(function(){
     var random=Math.random();
     var e = document.getElementsByTagName("link")[0];
     var d = document.createElement("link");
     d.href = "{{ url_for('static', filename='css/style.css') }}?q=" + random;
     d.rel = "stylesheet";
     d.async = true;
     d.defer = true;
     e.parentNode.insertBefore(d,e);
 })();
</script>
<body ng-controller="AppCtrl">
    <div class="content">
        <div class="content-top">
            <button ng-click="startStop()">Start / Stop</button>
            <div ng-switch on="run">
                <div ng-switch-when="true">
                    <success-trend-line></success-trend-line>
                    <status-codes-bar-chart></status-codes-bar-chart>
                    <visit-summary-pie-chart></visit-summary-pie-chart>
                </div>
                <div ng-switch-default>
                    Press 'Start / Stop' button to see proxy log aggregations
                </div>
            </div>
        </div>
        <div class="content-left">
            Admin (nifi, kafka ..)
        </div>
        <div class="content-right">
            Streamed output
        </div>
    </div>
</body>
</html>